<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Ticket</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/create-ticket-Style.css') }}">
</head>
<body>
    <h1>Create a New Ticket</h1>
    <form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.itemid.label }}
        {{ form.itemid(class="form-control") }}
        {% for error in form.itemid.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <button type="submit">{{ form.submit.label }}</button>


    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bx-wrench"></i>
                <span>Repair Shop</span>
            </div>
            <i class="bx bx-menu" id="sidebarBtn"></i>
        </div>
        <div class="user">
            <p class="bold">Email</p>
        </div>
        <ul>
            <li>
                <a href="http://127.0.0.1:5000/login/">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
            <li>
                <a href="http://127.0.0.1:5000/home/">
                    <i class="bx bx-home-alt-2"></i>
                    <span class="nav-item">Home Page</span>
                </a>
                <span class="tooltip">Home Page</span>
            </li>
            <li>
                <a href="http://127.0.0.1:5000/login/">
                    <i class="bx bx-edit"></i>
                    <span class="nav-item">Edit tickets</span>
                </a>
                <span class="tooltip">Edit</span>
            </li>


        </ul>
    </div>

</form>
</body>
<script>

    let sidebarBtn = document.querySelector('#sidebarBtn');
    let sidebar = document.querySelector('.sidebar');

    sidebarBtn.onclick = function () {
        sidebar.classList.toggle('active');
    };
</script>
</html>